body{
	background: url('C:/Users/Kimdenning/Documents/week-4-game/assets/images/background.jpg');
}
#title{
	background-color:#FF5733;
	color:white;
	height:100px;
	margin-top:15px;
	margin-bottom:15px;
	position:relative;
}
#centered{
position:absolute;

left:50%;
margin-right:-50%;
/*transform: translate(-50%, -50%);*/

}

#instructions{
background-color:white;
color:#2ED440;
}

#randNum{
	background-color:#12F32A;
	color:#581845;
	height:200px;
	left:17px;
	margin-top: 15px;
	padding:0px 10px 0px 0px;
	font-weight:bold;
	font-size: x-large;
}

.winLoss{
	color:white;
	font-weight: bold;
	padding-left:10px;
}
#wins{
	color:white;
	font-weight: bold;
	padding-left:10px;
	position:absolute;
	left:80px;
}
#losses{
	color:white;
	font-weight: bold;
	padding-left:10px;
	position:absolute;
	left:100px;
}



.crystals{
	padding:20px 0px 20px 0px;


}

.score{
	background-color:#138FF1;
	color:white;
	margin-bottom: 10px;

}

#scoreCalc{
	background-color:#138FF1;
	color:white;
	height:200px;
}